/*********************************
       C O N T A I N E R S
*********************************/

* {
    box-sizing: border-box;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.column {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
.row {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}
body {
    font-family: 'Work Sans', sans-serif;
    color: #2e3136;
    background: #efefef;
    margin: 70px 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/*********************************
      N A V I G A T I O N
*********************************/

.top-nav {
    background: #607d8b;
    color: #efefef;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 130px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}
.top-nav span,
.top-nav {
    display: flex;
    justify-content: space-between;
}
.top-nav * {
    margin: 0 5px;
    cursor: pointer;
}
i:hover,
.top-nav h2:hover {
    color: white;
}
h2 {
    font-weight: 300;
    font-size: 1.1em;
    margin: 0 auto;
}
/*********************************
       P R O J E C T S
*********************************/

.projects *:hover {
    color: black;
}
.grad {
    height: 225px;
    width: 225px;
    cursor: pointer;
    margin: 15px;
    font-size: 1.25em;
    font-weight: 700;
}
.grad:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}
.projects,
.grad {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grad div {
    background: #efefef;
    height: 98%;
    width: 98%;
}
.projects {
    margin: 15px;
    margin-top: 150px;
    text-align: center;
}
h6 {
    font-size: 1em;
    margin: 0 auto;
    font-weight: 400;
    padding: 5px;
}
p {
    font-weight: 100;
    font-size: .8em;
    padding: 5px;
    line-height: 20px;
}
