/***********************************
      B A S E   L A Y E R S
***********************************/


/*{background:rgba(0,0,0,.1);}*/

*
{
    margin: 0 auto;
}

body
{
    font-family: 'Open Sans', sans-serif;

    width: 90%;
    margin: 0 auto;

    background: #edeff5;
}

.card,
.about,
.social
{
    margin: 15px auto;

    border: solid 1px #e2e4ea;
}

.card{margin-top:50px;}
/***********************************
      N A V I G A T I O N
***********************************/

.nav,
.nav-btn
{
    display: flex;
    flex-direction: row;

    color: #e2e4ea;

    align-items: center;
    justify-content: center;
}

.nav
{
    justify-content: flex-end;
}

.nav-btn
{
    width: 100px;
    height: 45px;
    margin: 15px 0 25px 15px;

    color: grey;
    border: solid 1px #e2e4ea;
    border-radius: 3px;
    background: white;
    box-shadow: 0 11px 25px -12px rgba(0, 0, 0, .58);
}

.nav-btn:hover
{
    cursor: pointer;

    color: white;
    background: #80868a;
    box-shadow: 0 11px 25px -12px rgba(0, 0, 0, 0);
}


/***********************************
      M A I N    C O N T E N T
***********************************/

.main
{
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    color: #555;
    background: white;

    justify-content: space-between;
    align-items: center;
}

.main span,
h1 span:last-child
{
    font-size: .8em;

    color: #666;
}

.about,
.social
{
    display: flex;
    flex-direction: row;

    margin: 0 15px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img
{
    font-size: .85em;

    width: 120px;
    height: 125px;
}

.caption
{
    display: flex;
    flex-direction: column;

    margin-right: 25px;

    justify-content: center;
    align-items: center;
}

.about,
.social
{
    width: 280px;
    margin: 15px auto;
    padding: 15px;

    border: solid 1px #e2e4ea;
    background: white;
}

.card
{
    width: 310px;
    padding: 0;
}



.work{background:white; width:280px; margin:0 auto; padding:15px; border:solid 1px #e2e4ea; color: #00c4ff; font-weight:100;}
.work span{color: grey; }
.work a{color:inherit;}
/***********************************
       T Y P O G R A P H Y
***********************************/

.about h5,
.social h5
{
    font-weight: 100;

    color: #777;
}

h5
{
    padding: 10px 0;

    color: black;
}


.about span
{
    font-weight: 100;

    color: #00c4ff;
}

h1
{
    font-size: 1.25em;

    color: black;
}

h2
{
    font-size: .9em;
}

.caption h5:first-child
{
    color: black;
}

.card h5
{
    padding: 0;
}

.social .fa
{
    margin: 0 25px;
}
.work li{padding:10px 0;}
